
<!--<div class="mt-2 mb-2 p-3">-->
  <!--<table class="table">-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th scope="col">Id</th>-->
        <!--<th scope="col">Name</th>-->
        <!--<th scope="col">Surname</th>-->
        <!--<th scope="col">Birtdate</th>-->
        <!--<th scope="col">Cars</th>-->

      <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
      <!--<tr *ngFor = "let student of students">-->
        <!--<td>{{student.id}}</td>-->
        <!--<td>{{student.name}}</td>-->
        <!--<td>{{student.surname}}</td>-->
        <!--<td>{{student.age}}</td>-->
      <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->



<!--<div>-->
  <!--<mat-table [dataSource]="dataSource">-->
    <!--<ng-container matColumnDef="id">-->
      <!--<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let student"> {{student.id}} </mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="name">-->
      <!--<mat-header-cell *matHeaderCellDef> name </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="surname">-->
      <!--<mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let student"> {{student.surname}} </mat-cell>-->
    <!--</ng-container>-->
    <!--<ng-container matColumnDef="age">-->
      <!--<mat-header-cell *matHeaderCellDef> Age </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let student"> {{student.age}} </mat-cell>-->
    <!--</ng-container>-->
    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
  <!--</mat-table>-->
<!--</div>-->


<div class="container add-button">
  <button (click)="addStudent()" type="submit"  class="btn btn-info float-right ">
        <i class="fa fa-plus"></i>
        <span> Dodaj ucznia</span>
  </button>
</div>



<div class="container tbn">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
      <mat-cell *matCellDef="let student">{{student.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Imię</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let student">{{student.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef>Nazwisko</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let student">{{student.surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Wiek</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let student">{{student.age}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="clas">
      <mat-header-cell *matHeaderCellDef>Klasa</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let student">{{student.clas}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="timesWeekly">
      <mat-header-cell *matHeaderCellDef>Ile razy w tyg.</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let student">{{student.timesWeekly}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dayOfWeek">
      <mat-header-cell *matHeaderCellDef>Termin zajęć</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let student">{{student.dayOfWeek}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef>Godzina</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let student">{{student.time}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edycja</mat-header-cell>
      <mat-cell *matCellDef="let student" >
        <button (click)="deleteStudent(student)" class="btn btn-danger button"><i class="fa fa-trash"></i></button>
        <button (click)="openDialog(student)"class="btn btn-primary button"><i class="fa fa-pencil"></i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns">
    </mat-row>

  </mat-table>
  <mat-paginator [length]="total_count" [pageSize]="5"
                 [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</div>
