
  <div class="container">
    <div class="float-md-right">
      <button (click)="openDialogNewSection()"class="btn btn-success btn-section button"><i class="fa fa-plus"></i> Dodaj nowy rozdział</button>
    </div>

  <div class="" *ngFor="let section of allSections" (mouseenter)="section.show = true" (mouseleave)="section.show = false" >
    <mat-list>
      <h4 mat-subheader>{{section.name}}
        <span class="space">
          <button *ngIf="section.show" (click)="openDialogNewSubject(section)"class="btn btn-outline-success btn-sm button"><i class="fa fa-plus"></i></button>
          <button *ngIf="section.show" (click)="deleteSection(section)" class="btn btn-outline-danger btn-sm button"><i class="fa fa-trash-o"></i></button>
        </span>
      </h4>
      <div *ngFor="let subject of section.subjects" (mouseenter)="subject.show = true" (mouseleave)="subject.show = false">
      <mat-list-item >
        <mat-icon mat-list-icon>local_florist</mat-icon>
        <h4 mat-line  >{{subject.title}}
          <span class="space">
            <button (click)="openDialogEditSubject(subject)" *ngIf="subject.show" class="btn btn-outline-primary btn-sm button "><i  class="fa fa-pencil "></i></button>
            <button (click)="deleteSubject(subject)" *ngIf="subject.show" class="btn btn-outline-danger btn-sm button button "><i  class="fa fa-trash-o "></i></button>
          </span>
        </h4>
      </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </div>
</div>
