
  <h2 mat-dialog-title>Dodaj nową kategorię</h2>
  <mat-dialog-content [formGroup]="form" fxLayout="column">

    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" >
      <mat-form-field fxFlex="auto">
        <input type="text" matInput formControlName="name"  placeholder="Nazwa kategorii">
      </mat-form-field>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
  </mat-dialog-actions>
